{% extends "base.html" %}
{% block content %}

<!--  Alert  -->

{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="container alert alert-{{ message.tags }} alert-dismissible fade show"{% endif %} role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
{% endif %}

<form class="login-form container" method="POST">
  {% csrf_token %}
  <h2 class="login-form-title text-center">Login</h2>
  <div class="form-group row">
<!--    <label class="col-sm-2 col-form-label">Email</label>-->
    <div class="col-sm-12 p-2">
        {{form.username}}
    </div>
  </div>
  <div class="form-group row">
<!--    <label class="col-sm-2 col-form-label">Password</label>-->
    <div class="col-sm-12 p-2">
        {{form.password}}
    </div>
  </div>
  <div class="form-group row default-button login-form-submit">
    <div class="col-sm-12 p-2">
      <button type="submit" value="Enter" class="btn btn-primary">Sign in</button>
    </div>
  </div>
  <div class="signup-link"><a href="/signup">Don't have an account yet? Sign up now!</a></div>
</form>


{% endblock %}