{% extends "base.html" %}
{% block content %}

<div class="index container" style="margin-top: 20px;">

        <!--  Header  -->

        <div class="row align-items-center default-button">
            <div class="col search-icon">
<!--              <a data-bs-toggle="collapse" href="#search_collapse" role="button" aria-expanded="false">-->
<!--                <i class="fas fa-search"></i>-->
<!--              </a>-->
            </div>
            <div class="col text-center">
              <h1 class="text-center">hope</h1>
            </div>
            <div class="col">
              {% if anonymous_user %}
              <a href="/login"><button>LOGIN</button></a>
              {% else %}
              <a href="/logout"><button>LOGOUT</button></a>
              {% endif %}
            </div>
        </div>

        <!--  Search Bar  -->

<!--        <div class="collapse fulltext-search-input" id="search_collapse">-->
<!--          <div class="card card-body">-->
<!--            <form action="{% url 'search_results' %}" method="get">-->
<!--              <input name="search_hope" type="text" placeholder="Search...">-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->

        <!--  Navigation Bar  -->

        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link text-uppercase" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase active" aria-current="page" href="/confession">Confession</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/about_us">About Us</a>
          </li>
        </ul>

        <!--  Alert  -->

        {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show"{% endif %} role="alert">
              {{message}}
            </div>
            {% endfor %}
        {% endif %}

        <!--  Intro  -->

        <div class="confession-detail-page">
<!--            <h2 class="text-center"> Create Your Portfolio</h2>-->
<!--            <p class="text-center">Browse our extensive yoga sequence library and find a home practice that fits into your schedule. We break up our yoga sequences into levels of difficulty so you’re keeping your body safe in every pose. Or search through our list of yoga sequences by anatomy to target different aspects of the body. We also break down our sequences into different types, in case you’re looking for the perfect Kundalini or Ashtanga sequence. In a hurry? Search our yoga sequences by length, so you can fit in your workout during any time crunch.</p>-->
            <img src='https://hope-web-bucket.oss-ap-southeast-3.aliyuncs.com/{{confession.post_image}}' class="card-img-top">
            <h3>{{confession.title}}</h3>
            <p class="confession-detail-date">{{confession.created_on|date:'M d, Y'}}</p>
            <p class="confession-detail-author">{{confession.author.username}}</p>

            <hr class="divider">

            <div class="confession-detail-content">{{confession.content|linebreaks}}</div>
        </div>

</div>


{% endblock %}