{% extends "base.html" %}
{% block content %}
<!--{% load static %}-->
<!--<link rel="stylesheet" href="{% static 'css/post-list.css' %}">-->
<!--<link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">-->
<!--<script data-search-pseudo-elements defer src="https://use.fontawesome.com/releases/latest/js/all.js" integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7" crossorigin="anonymous"></script>-->

<div class="index container" style="margin-top: 20px;">

    <!--  Header  -->

    <div class="row align-items-center default-button">
        <div class="col search-icon">
<!--          <a data-bs-toggle="collapse" href="#search_collapse" role="button" aria-expanded="false">-->
<!--            <i class="fas fa-search"></i>-->
<!--          </a>-->
        </div>
        <div class="col text-center">
          <h1 class="text-center">hope</h1>
        </div>
        <div class="col">
          {% if anonymous_user %}
          <a href="/login"><button>LOGIN</button></a>
          {% else %}
          <a href="/logout"><button>LOGOUT</button></a>
          {% endif %}
        </div>
    </div>

    <!--  Search Bar  -->

<!--    <div class="collapse fulltext-search-input" id="search_collapse">-->
<!--      <div class="card card-body">-->
<!--        <form action="{% url 'search_results' %}" method="get">-->
<!--          <input name="search_hope" type="text" placeholder="Search...">-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->

    <!--  Navigation Bar  -->

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-uppercase" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase active" aria-current="page" href="/confession">Confession</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="/portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="/about_us">About Us</a>
      </li>
    </ul>

    <!--  Alert  -->

    {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show"{% endif %} role="alert">
          {{message}}
        </div>
        {% endfor %}
    {% endif %}

    <!--  Intro  -->

    <div class="container intro">
        <h2 class="text-center">Confession Page</h2>
        <p class="text-center">A collection of spirit-lifting and positive guidelines for individuals who are feeling lost and anxious during the Covid-19 pandemic or who are just having a bad day. Relevant articles are provided and are specifically catered to ignite positive thinking, motivation and success. The community is encouraged to share personal experiences and ways to overcome daily struggles, if any which may help others to cope with similar challenges in life.</p>
        <div class="create-link-button text-center">
            <a href="/create_confession"><button style="float:center;">Create Your Own Confession</button></a>
        </div>
    </div>

    <!--  Daily Reading Post  -->

    <div class="text-center">
        <hr class="divider">
        <h5 class="post-category">Daily Reading Post</h5>

        <div class="row confession-page">
          {% for single_daily_reading_post in daily_reading %}
          <div class="col-sm-4">
            <a href="/confession/{{ single_daily_reading_post.slug }}">
            <div class="card h-100">
              <img src="https://hope-web-bucket.oss-ap-southeast-3.aliyuncs.com/{{single_daily_reading_post.post_image}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title">{{ single_daily_reading_post.title }}</h4>
                <p class="card-subtitle">{{ single_daily_reading_post.tag }}</p>
              </div>
            </div>
            </a>
          </div>
          {% endfor %}
        </div>
    </div>

    <!--  Most View Post  -->

    <div class="text-center">
        <hr class="divider">
        <h5 class="post-category">Most View Post</h5>

        <div class="row confession-page">
          {% for single_most_view in most_view %}
          <div class="col-sm-4">
            <a href="/confession/{{ single_most_view.slug }}">
            <div class="card h-100">
              <img src="https://hope-web-bucket.oss-ap-southeast-3.aliyuncs.com/{{single_most_view.post_image}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title">{{ single_most_view.title }}</h4>
                <p class="card-subtitle">{{ single_most_view.tag }}</p>
              </div>
            </div>
            </a>
          </div>
          {% endfor %}
        </div>
    </div>

    <!--  Editor Recommend Post  -->

    <div class="text-center">
        <hr class="divider">
        <h5 class="post-category">Editor Recommend Post</h5>

        <div class="row confession-page">
          {% for single_editor_recommend in editor_recommend %}
          <div class="col-sm-4">
            <a href="/confession/{{ single_most_view.slug }}">
            <div class="card h-100">
              <img src="https://hope-web-bucket.oss-ap-southeast-3.aliyuncs.com/{{single_editor_recommend.post_image}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title">{{ single_editor_recommend.title }}</h4>
                <p class="card-subtitle">{{ single_editor_recommend.tag }}</p>
              </div>
            </div>
            </a>
          </div>
          {% endfor %}
        </div>
    </div>

</div>


<section class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__heading">
        <h2>hope</h2>
      </div>
      <p class="mb-0">hope website © 2021</p>

      <br/>
      <ul class="social__media">
        <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-facebook-messenger" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</section>

{%endblock%}